<p>Hello 🍻</p>

<form method="POST" action="{% url 'zodiacs:index' %}">
    {% csrf_token %}
    <label for="date">Data urodzin: </label>
    <input type="text" name="birthday" placeholder="dd/mm/rrrr">
    <input type="submit" name="submit">
</form>
<h3> {{ db_sign }} </h3> 
<p>{{ db_sign.description }}</p>

<div style="background-color:rgb(216, 216, 216); padding: 20px; margin-top: 100px;">
    <code style="color:rgb(85, 85, 85);">
        <p>Input: {{ input }}</p>
        <p>Valid format: {{ valid }}</p>
        <p>Date: {{ date }}</p>
        <p>Sign: {{ sign }}</p>

        <ul>
            {% for sign in db_signs %}
            <li>{{sign}} - {{ sign.description }}</li>
            {% endfor %}
        </ul>
    </code>
</div>