<h1>Sprawdzacz znaku zodiaku</h1>

<form method="POST" action="{% url 'zodiacs:index' %}">
    {% csrf_token %}
    <label for="date">Data urodzin: </label>
    <input type="text" name="birthday" placeholder="dd/mm/rrrr">
    <input type="submit" name="submit">
</form>
<p>{{ invalid_input }}</p>
<h3> {{ db_sign }} </h3> 
<p>{{ db_sign.description }}</p>

<div style="margin-top: 200px">
    <p>Komentarz:</p>
    <p>Chciałem, żeby poza działaniem też jakoś wyglądało, ale kompletnie utknąłem na kilka godzin na błędzie pokazywanym przez dockera.</p>
    <p>Bootstrap działa na lokalnym venvie, ale w dockerze już zupełnie nie chce mimo wczytania freezowanych zależności.</p>
    <code>ModuleNotFoundError: No module named 'bootstrap4'</code>
    
    
</div>